<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bnkfirst.mapper.AdminMapper">

<!--상품 목록 출력-->
    <sql id="searchWhere">
        <where>
            <if test="pageRequestDTO.searchType != null and pageRequestDTO.keyword != ''">
                <choose>
                    <when test="pageRequestDTO.searchType == 'title'">
                        AND A.TITLE LIKE '%' || #{pageRequestDTO.keyword} || '%'
                    </when>
                    <when test="pageRequestDTO.searchType == 'content'">
                        AND A.CONTENT LIKE '%' || #{pageRequestDTO.keyword} || '%'
                    </when>
                    <when test="pageRequestDTO.searchType == 'writer'">
                        AND U.NICK LIKE '%' || #{pageRequestDTO.keyword} || '%'
                    </when>
                </choose>
            </if>
        </where>
    </sql>

    <select id="selectAllProduct" resultType="kr.co.bnkfirst.dto.product.ProductDTO">
        SELECT
        *
        FROM product
        <include refid="searchWhere"/>
        ORDER BY pupdate DESC
        OFFSET #{pageRequestDTO.offset} ROWS
        FETCH NEXT #{pageRequestDTO.size} ROWS ONLY
    </select>


    <select id="selectCountTotal" resultType="int">
        SELECT COUNT(*) FROM product
        <include refid="searchWhere"/>
    </select>
<!--상품 목록 출력-->
<!--    상품 삭제-->
    <delete id="deleteByProduct">
        delete from product where pid = #{pid}
    </delete>
</mapper>