
<!--왼쪽 사이드바-->
<aside class="all-sidebar">
    <ul class="sidebar-menu">
        <h2>퇴직연금 알아보기</h2>
        <li class="active">
            <a th:href="@{/retirement-renew/intro/why-pension}">퇴직연금소개</a>
        </li>
        <li>
            <a th:href="@{/retirement-renew/system/db}">퇴직연금 제도의 이해</a>
        </li>
        <li>
            <a th:href="@{/retirement-renew/operation/intro-process}">도입/운영안내</a>
        </li>
        <li>
            <a th:href="@{/retirement-renew/tax/tax-benefit}">관련세제</a>
        </li>
        <li>
            <a th:href="@{/retirement-renew/why-bnk/bnk-strong}">왜 BNK인가</a>
        </li>
        <li>
            <a th:href="@{/retirement-renew/nps-plan/nps-plan}">NPS 노후설계서비스</a>
        </li>
        <li>
            <a th:href="@{/retirement-renew/portal-error/portal-error}">통합연금포털</a>
        </li>
    </ul>

    <!--추가 도움 영역-->
    <section class="all-help">
        <div class="help-box">
            <h3>추가 도움이 필요하신가요?</h3>
            <p>전문 상담원이 친절하게 도와드리겠습니다.</p>
            <div class="help-buttons">
                <button class="btn-call">전화상담</button>
                <button class="btn-chat">Talk상담</button>
            </div>
        </div>
    </section>
</aside>