<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.bnkfirst.mapper.ProductMapper">

    <select id="resultPcontract" resultType="kr.co.bnkfirst.dto.product.PcontractDTO">
        SELECT * FROM pcontract c
                          JOIN product p
                               ON c.PCPID  = p.PID
                          JOIN users u
                               ON c.PCUID = u.mid
        WHERE u.mid = #{mid} AND c.PCPID = #{pcpid}
    </select>

</mapper>
